!!! 5
html
    head
        title #{title}
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')        
        link(rel='stylesheet', href='/css/style.css')        
        script(src='/vendor/jquery-1.10.2.min.js')
    
    body
        block content
        block scripts
